@{
    ViewData["Title"] = "StackOverflowClone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model IEnumerable<StackOverflowClone.Models.Answer>


<h2>List of Answers for Question: @ViewBag.Question.Name</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listAnswer in Model)
        {
            <li>Answer: @Html.DisplayFor(modelItem => listAnswer.Name)</li>
            <ul>
                <li>Description: @Html.DisplayFor(modelItem => listAnswer.Description)</li>
                <li>From User: @Html.DisplayFor(modelItem => listAnswer.User.UserName)</li>
            </ul>
        }
    </ul>
}
else
{
    <p>No Answers have been added yet!</p>
}

@Html.ActionLink("Create new", "Create", new { id = ViewBag.Question.QuestionId})
@Html.ActionLink("Back to Questions", "Index", "Question")