@{
    ViewData["Title"] = "StackOverflowClone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@*@model IEnumerable<StackOverflowClone.Models.Answer>*@
@model StackOverflowClone.Models.Question

<h2>List of Answers:</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Answers): @Html.DisplayFor(model => model.Answers)</p>


@*@if (model.Answers.Any())
    {
        <ul>
            @foreach (var listQuestion in @Model.Answers)
            {
                <li>
                    @Html.DisplayFor(modelItem => listQuestion.Name) | @Html.ActionLink("Delete", "Delete", new { id = listQuestion.AnswerId }) | @Html.ActionLink("Edit", "Update", new { id = listQuestion.AnswerId })
                    @Html.ActionLink("Answer this question", "Index", "Answer", new { id = listQuestion.QuestionId })
                </li>
                <ul>
                    <li>@Html.DisplayFor(modelItem => listQuestion.Description)</li>
                </ul>
            }
        </ul>
    }
    else
    {
        <p>No Answers have been added yet!</p>
    }*@
 

@Html.ActionLink("Create new", "Create", new { id = Model.QuestionId})
@Html.ActionLink("Return Home", "Index", "Account")