@{
    ViewData["Title"] = "Item - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StackOverflowClone.Models.Answer
<h2>Edit</h2>
<hr />
<h4>Edit this item: @Html.DisplayFor(model => model.Type)</h4>
<div class="form">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ShapeId)
        <div class="row">
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Type) @Html.TextBoxFor(model => model.Type)
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.X) @Html.TextBoxFor(model => model.X)
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.Y) @Html.TextBoxFor(model => model.Y)
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(model => model.ProjectId) @Html.DropDownList("ProjectId")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input class="btn btn-warning" type="submit" value="Save" />
            </div>
        </div>
    }
</div>
@Html.ActionLink("Back to Home", "Index")